html, body {
    height:100%;
    background-image: url("wal1.jpg");
    color:#B7AFAE;
}

body {
    display:flex;
    align-items:center;
    font-family:"Lucida Console";
}

h1 {
    text-align: center;
}
