<!DOCTYPE html>
    <html>
        <head>
            <title>Dhita Putri Pratama</title>
            {% load static %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href = "{% static 'styleProfile.css' %}">
            <script src="//code.jquery.com/jquery-1.12.4.js"></script>
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{% static 'pace.min.js' %}"></script>
            <link rel="stylesheet" href = "{% static 'loading_bar.css' %}">
        </head>

        <body>
            
            <div class = "container">
                <div class = "row">
                    <div class = "col-8 mx-auto">
                        <h1>Profil Saya</h1>
                        <div class="d-flex justify-content-center align-items-center">
                            <table>
                                <tr>
                                  <td>Nama</td>
                                  <td>: Dhita Putri Pratama</td>
                                </tr>
                                <tr>
                                  <td>TTL</td>
                                  <td>: Jakarta, 10 Agustus 2000</td>
                                </tr>
                                <tr>
                                  <td>Hobi</td>
                                  <td>: Tidur</td>
                                </tr>
                                <tr>
                                  <td>Pekerjaan</td>
                                  <td>: Mahasiswa</td>
                                </tr>
                                <tr>
                                    <td>Universitas</td>
                                    <td>: Universitas Indonesia</td>
                                </tr>
                                
                            </table>   
                        </div>
                        <div class="col-11 mx-auto">
                            <a>Untuk mengubah tema, klik salah satu dari tombol berikut. Untuk melihat informasi tambahan mengenai saya, klik akordion-akordion di samping.</a>
                        </div>
                        
                        <div class = "row justify-content-center" >
                            <div class="col">
                                <button type="button" class="btn btn float-right" id="but1">Tema Utama</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn float-left" id="but2">Tema Lain</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "col">
                        <div id="accordion">

                        <h2><a href="#">Aktivitas</a></h2>
                        <div>
                            <p>Akademis</p>
                            <p>Sekretaris 1 DPM Fasilkom UI 2018</p>
                        </div>
                        
                        <h2><a href="#">Pengalaman Organisasi</a></h2>
                            <div>
                                <p>ROHIS SMAN 38 Jakarta</p>
                                <p>DPM Fasilkom UI 2018</p>
                            </div>
                        
                        <h2><a href="#">Prestasi</a></h2>
                            <div>
                                <p>-</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <script>
            $( "#accordion" ).accordion({
                active: true,
                collapsible: true
            });
            $('#but1').click(function(e){
                e.preventDefault();
                $('body').css({'background-image':'url("{% static 'wal1.jpg' %}")'});
                $('body').css({'color':'#B7AFAE'});
                $('body').css({'font-family':'Lucida Console'});
            });
            $('#but2').click(function(e){
                e.preventDefault();
                $('body').css({'background-image':'url("{% static 'wal3.jpg' %}")'});
                $('body').css({'color':'#827F7F'});
                $('body').css({'font-family':'Arial'});
            });
            </script>
        </body>
    </html>